html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background: transparent;
  padding: 10px 10px; }

.page_header h1 {
  background: url("../../img/h1Bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10%;
  color: goldenrod;
  font-size: 800%;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000; }

#moto {
  font-size: 400%;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  color: goldenrod; }

form {
  position: relative;
  margin: 10px 10px;
  width: 20%; }
  form fieldset {
    padding: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    display: block; }
    form fieldset div {
      margin-bottom: 10px; }
    form fieldset label span {
      font-size: 120%;
      color: #000;
      text-shadow: 1px 1px 1px #000; }
  form legend {
    font-size: 150%;
    font-weight: bold;
    color: #000;
    text-shadow: 1px 1px 2px #000;
    text-align: center; }
  form select:first-child {
    font-weight: bold; }
    form select:first-child option:first-child {
      font-weight: bold; }
  form .styled-select select {
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px; }
  form .styled-select {
    margin-top: 5px;
    width: 100%;
    height: 34px;
    overflow: hidden;
    background: url(../../img/new_arrow.png) no-repeat right #ddd;
    background-repeat: no-repeat;
    background-size: 50%; }
  form #searchByDataBottom {
    font-weight: bold;
    font-size: 100%;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #98A06D;
    border: none;
    outline: none; }
  form #searchByDataBottom:hover {
    box-shadow: 2px 2px 2px 	#B0B0B0; }
  form #searchByDataBottom:active {
    background-color: #555500; }

.searchResultDisplayArea {
  margin-right: 20px;
  width: 74%;
  float: right;
  overflow: hidden; }

.itemSection {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  width: inherit;
  height: 200px;
  background-color: rgba(152, 152, 152, 0.5);
  border-radius: 10px; }

.goBottom {
  display: block;
  width: 100px;
  height: 50px;
  float: right;
  background-color: #98A06D;
  font-weight: bold;
  font-size: 30px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 50px; }

.noShow {
  font-size: 50px;
  height: 30%; }

.close {
  position: absolute;
  top: 10px;
  left: 850px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #880000; }

.M-16 {
  float: left;
  width: 150px;
  height: 150px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../img/imgForWeapon/m-16.png"); }

html {
  background-color: #4b5320; }

body {
  width: 1200px;
  margin: auto;
  font: 100% Helvetica, sans-serif;
  background-repeat: no-repeat; }

ul {
  position: relative; }

footer {
  clear: both; }
